<config app="ByteniZ3R" version="0.9.14.0b">
  <paths>
    <PathProject pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathMap pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathTileset pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathSprite pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathOAM pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathSupertile pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathPicture pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathByteGen pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathPalette pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathMSXBasic pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathBinary pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathBitmap pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathNMSXtiles pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
  </paths>
  <defCode>
    <defDataLabel>DATA</defDataLabel>
    <defCodeOutput>0</defCodeOutput>
    <defCodeNumberSystem>4</defCodeNumberSystem>
    <defCodeLineSize>3</defCodeLineSize>
    <defCodeCompressType>0</defCodeCompressType>
    <defAsmByteCommand>DB</defAsmByteCommand>
    <defAsmWordCommand>DW</defAsmWordCommand>
    <defCByteCommand>const char</defCByteCommand>
    <defBASICcommentInstruction>REM</defBASICcommentInstruction>
    <defBASICdataInstruction>DATA</defBASICdataInstruction>
    <defBASICinitLine>1000</defBASICinitLine>
    <defBASICincLines>10</defBASICincLines>
    <defBASICremove0>False</defBASICremove0>
  </defCode>
  <others>
    <defAuthor>User</defAuthor>
    <firstProjectType>1</firstProjectType>
    <PathLastProject>
    </PathLastProject>
    <Color_Zero>-14145481</Color_Zero>
    <Color_Grid>-7876870</Color_Grid>
    <Color_OutBG>-657931</Color_OutBG>
    <Color_OutINK>-16777216</Color_OutINK>
  </others>
  <LastProjects>
    <list id="ByteniZ3R">
      <item index="0" path="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release\Examples\Assembler\Test1_posX_Assembler.XBYT" />
      <item index="1" path="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release\Examples\Assembler\Test1_sin_Assembler.XBYT" />
      <item index="2" path="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release\Examples\Assembler\Test1_Assembler.XBYT" />
    </list>
  </LastProjects>
</config>