<config app="ByteniZ3R" version="0.9.2.0b">
  <paths>
    <PathProject pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathMap pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathTileset pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathSprite pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathOAM pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathSupertile pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathPicture pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathByteGen pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathPalette pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathMSXBasic pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathBinary pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathBitmap pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
    <PathNMSXtiles pathUser="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" pathLast="C:\Users\User\Documents\Visual Studio 2019\Projects\mSXdevtools_ByteniZ3R\_Release" type="1" />
  </paths>
  <defCode>
    <defCodeOutput>0</defCodeOutput>
    <defCodeNumberFormat>4</defCodeNumberFormat>
    <defCodeSizeLine>1</defCodeSizeLine>
    <defCodeCompressType>0</defCodeCompressType>
    <defAsmByteCommand>DB</defAsmByteCommand>
    <defAsmWordCommand>DW</defAsmWordCommand>
    <defCByteCommand>const char</defCByteCommand>
    <defBASICinstruction>DATA</defBASICinstruction>
    <defDataLabel>DATA</defDataLabel>
    <defBASICinitLine>1000</defBASICinitLine>
    <defBASICincLines>10</defBASICincLines>
    <defBASICremove0>False</defBASICremove0>
  </defCode>
  <others>
    <defAuthor>User</defAuthor>
    <firstProjectType>1</firstProjectType>
    <PathLastProject>
    </PathLastProject>
    <ZeroColor>-14145481</ZeroColor>
    <GridColor>-7876870</GridColor>
  </others>
  <LastProjects />
</config>